<%- include('partials/header.ejs') %>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">About our company</h1>
            <p class="col-md-8 fs-4">We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, glazed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
        </div>
    </div>
<%- include('partials/footer.ejs') %>