<%- include('partials/header.ejs') %>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to the Donut Shop</h1>
            <p class="col-md-8 fs-4">We bake the hottest, freshest donuts that you can imagine. You want donuts? We got it.</p>
        </div>
    </div>

    
<%- include('partials/footer.ejs') %>